* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
    margin: auto;
}

/* HEADER */
.bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header {
    width: 100%;
    height: auto;
    background-color: #333;
    margin-bottom: 25px;
    padding: 5px;
}
.titulo {
    color: white;
    padding: 5px;
    display: inline-block;
}
header img {
    border-radius: 50%;
    margin-right: 5px;
}
header img:hover {
    transform: scale(1.1, 1.1)
}
.leyenda-productos-carrito {
    font-size: 0.9rem;
    color:#f2f2f2;
    background-color:#0d6efd;
    text-decoration: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
}
a {
    text-decoration: none;
}
.position-hidden {
    position: relative;
    top: 25px; left: -50px;
    visibility: hidden;
}
.position {
    position: relative;
    top: 25px; left: -50px;
    visibility: visible;
}

/* SECCIONES */
.contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #333;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
    width: 100%;
}
.subtitulo {
    color: #333;
    text-align: center;
    padding: 25px;
}

/* PRODUCTOS */
.producto {
    display: flex;
    flex-direction: column;
    margin: 30px;
    justify-content: center;
}
.producto-nombre, .producto-precio {
    color: #f2f2f2;
    text-align: center;
}
.producto-img {
    border-radius: 50%;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    margin: auto;
    margin-bottom: 15px;
    justify-content: center;
}
.producto-img:hover {
    -webkit-transform: scale(1.2);
	transform: scale(1.2);
    transition-duration: 500ms;   
}
.btn-primary {
    width: 70px;
    margin: auto;
}

/* LISTA DE TOTAL DE PRODUCTOS */
.contenedor_carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin: auto;
}
 .tabla-carrito{
     margin: auto;
     width: auto;
 }
.producto-name {
    width: 350px;
}
 .btn-danger {
     min-width: 60px;
     margin: 10px;
     padding: 0;
 }
 .item-cantidad-input{
     display: inline;
     width: 40px;
 }
 .item-carrito-nombre {
     display: inline;
 }
.total {
    padding-right: 10px;
}
 
 /* FINALIZAR COMPRA*/
.btn-finalizar-compra {
    width: 100px;
    max-width: 400px;
    height: 50px;
    margin: auto;
    margin-top: 25px;
    align-items: center;
}
.contenedor_carrito button {
    width: 40%;
    max-width: 400px;
}

/* MEDIOS DE PAGO*/
.medios {
    display: flex;
}
.medios img {
    width: 90%;
    max-width: 400px;
    height: auto;
    margin: auto;
}

/* FOOTER */
.footer {
    display: flex;
    width: 100%;
    background-color: #333;
    margin-top: 30px;
    height: 70px;
    padding: 20px;
}
.footer p {
    margin-left: 5px;
    color: #f2f2f2;
    padding: 15px;
}
.footer img {
    margin-left: 15px;
}
.footer img:hover {
    transform: scale(1.2, 1.2)
}





